.row {
  border: 1px #ede8e8 solid;
  display: flex;
  justify-content: center;
}

.letter,
.incorrect,
.correct,
.almost {
  width: 55px;
  height: 60px;
  line-height: 60px;
  padding: 5px;
  margin: 2.5px;
  border: 1px solid #d7d7d7;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.incorrect {
  background-color: #303535;
}
