.row {
  display: flex;
  justify-content: center;
}

.letter,
.incorrect,
.correct,
.almost {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 5px;
  margin: 1px;
  border: 1px solid #8c8a8a;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.incorrect {
  background-color: #303535;
}

.almost {
  background-color: #cf8a00;
}

.correct {
  background-color: #066d3f;
}
