.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000e6;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 60%;
  padding: 10%;
  text-align: center;
  border: 1px solid white;
}

.win {
  color: #066d3f;
  font-size: 3em;
  margin: 0px;
}

.loss {
  color: #cf8a00;
  font-size: 3em;
  margin: 0px;
}

.answer {
  font-size: 2em;
}

.word {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; 
}

.text {
  font-size: 2em;
}

.share_button {
  border-radius: 5px;
  width: 9em;
  height: 3em;
  line-height: 3em;
  font-size: 20px;
  background-color: #066d3f;
}
