.keyboard {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.keyboard_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
  height: 3em;
}

.keyboard_letter,
.correct,
.almost,
.incorrect {
  flex-grow: 1;
  display: grid;
  place-items: center;
  min-width: 25px;
  max-width: 32px;
  height: 90%;
  line-height: 90%;
  margin: 2px;
  font-size: 1.5em;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #555b86;
  color: #ede8e8;
  cursor: pointer;
}

.incorrect {
  background-color: #303535;
}

.almost {
  background-color: #cf8a00;
}

.correct {
  background-color: #066d3f;
}

@media (min-width: 480px) {
  .keyboard_letter,
  .correct,
  .almost,
  .incorrect {
    max-width: 44px;
    font-size: 2em;
  }
}

@media (min-width: 600px) {
  .keyboard_letter,
  .correct,
  .almost,
  .incorrect {
    max-width: 50px;
    font-size: 2em;
  }
}